@{
    ViewData["Title"] = "Check-Out Confirmation";
}

<h2>Check-Out Confirmation</h2>

<p>Your check-out has been successfully recorded.</p>
<a asp-controller="Admin" asp-action="AdminDashboard" class="btn btn-primary">Go to Admin Dashboard</a>